<div class="container">
  <div class="card">

    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <h2> Consulta Subcategorias</h2>
      </div>
    </div>


    <div class="p-fluid grid">
      <div class="col-7 md:col-6 lg:col-4 p-fluid">
        <form autocomplete="off" (ngSubmit)="buscar()">

          <span class="p-float-label ">
            <span class="p-float-label p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="text" id="inputgroup" name="paramentro" pInputText [(ngModel)]="subcategoriaFiltro.parametro"
                class="p-inputtext" placeholder="id, subcategoria">
              <label for="inputgroup">Pesquisar</label>

            </span>
          </span>

        </form>

      </div>
      <div class="col-5 md:col-6 lg:col-2 p-fluid">
        <button pButton icon="pi pi-plus" pTooltip="Adicoinar Produto" label="novo" (click)=" showSubcategoria()"


          class="p-button-success p-button-lg"></button>
      </div>
    </div>

  </div>
    <div class="grid">
      <div class="col-12 tabela ">
        <p-table [value]="subcategorias" responsiveLayout="scroll" selectionMode="single" [rowHover]="true" [responsive]="true"
          [rows]="subcategoriaFiltro.itensPorPagina" #tabela dataKey="id"
          styleClass="p-datatable-gridlines p-datatable-sm p-datatable-customer" [lazy]="true"
          (onLazyLoad)="aoMudarPagina($event)" [paginator]="true" [totalRecords]="totalRegistros">
          <ng-template pTemplate="caption">

          </ng-template>
          <ng-template pTemplate="header">
            <tr>

              <th>Código</th>
              <th> Categoria
              </th>
              <th>Sub Categoria</th>

              <th style="text-align: center; width: 25%;" >Opções</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-subcategoria>
            <tr [pSelectableRow]="subcategoria">
              <td>{{subcategoria.id}}</td>
              <td> {{subcategoria.categoria.nomecategoria}}</td>
              <td>{{subcategoria. nomeSubCategoria
              }}</td>


              <td>
                <div class="flex flex-wrap align-items-center justify-content-center ">
                  <a>

                    <button
                    pButton pRipple type="button" icon="pi pi-check" pTooltip="Adicionar"
                      (click)="selecionaruSubcategoria(subcategoria)"
                      class="p-button-info mr-2  "

                    >
                  </button>
                </a>
                  <button pButton pRipple icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                  class="p-button-primary mr-2"  type="button"></button>

              <button pButton pRipple icon="pi pi-trash" type="button" pTooltip="Excluir" tooltipPosition="top"
                class=" p-button-danger mr-2 "></button>
                </div>

              </td>


          </ng-template>

        </p-table>
      </div>
    </div>
    </div>
