<div class="container">
  <div class="card">
    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <h2>Vincular Forncedor Produto</h2>
      </div>
    </div>

    <div class="p-fluid grid">


      <p></p>
      <div class="col-12 md:col-6 lg:col-7 p-fluid">
        <span class="p-float-label">
          <p-autoComplete
            [(ngModel)]="produtoforncedor.fornecedor"
            appendTo="body"
            [showEmptyMessage]="true"
            field="nome"
            [suggestions]="fornecedores"
            placeholder="nome fornecedor "
            [required]="true"
            (completeMethod)="buscarForncedor($event)"
            name="nome"
            id="campo"
            inputId="autocomplete"
            [minLength]="1"
            emptyMessage="Registro não ncontrato"
          ></p-autoComplete>
          <label for="forncedor ">Fornecedores</label>
        </span>
      </div>
      <div class="col-12 md:col-6 lg:col-5 p-fluid">
        <span class="p-float-label">
          <p-inputNumber
            inputId="preco_venda"
            currency="BRL"
            mode="currency"
            name="valorProduto"
            locale="pt-Br"
            [(ngModel)]="produtoforncedor.valorProduto"
            [minFractionDigits]="2"
          ></p-inputNumber>
          <label for="preco_venda"> Preço de Custo</label>
        </span>
      </div>

      <div class="col-12 md:col-6 lg:col-6 p-fluid">
        <span class="p-float-label">
          <p-inputNumber
            [(ngModel)]="produtoforncedor.garantia"
            name="garantia"
            mode="decimal"
            dec
            [showButtons]="true"
            precision="0"
            inputId="minmax-buttons"
            [min]="0"
            [max]="10000"
          >
          </p-inputNumber>
          <label for="garantia">Garantia</label>
        </span>
      </div>
      <div class="col-12 md:col-6 lg:col-6 p-fluid">
        <span class="p-float-label">
          <p-calendar inputId="calendar" [(ngModel)]="produtoforncedor.dataCompra"   appendTo="body" name="dataCompra" dateFormat="dd/mm/yy"></p-calendar>
          <label for="calendar">Data da Compra</label>
      </span>
      </div>

      <div class="col-6 md:col-6 lg:col-2 p-fluid">
        <p-button
        type="button"
          label="Adicionar"  (click)="selecionarProdutoFornecedor()"
          styleClass="p-button-success p-button-outlined p-button-lg  "

        ><i class="fa-solid fa-person-circle-plus fa-2xl"></i>
      </p-button>
      </div>
    </div>



</div>
