<div class="container">
  <div class="card">

    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <h2> Consulta Nota  Fiscal</h2>
      </div>
    </div>


    <div class="p-fluid grid">


      <div class="col-6 md:col-6 lg:col-4 p-fluid">
        <form autocomplete="off" (ngSubmit)="buscar()">

          <span class="p-float-label ">
            <span class="p-float-label p-input-icon-right">
              <i class="pi pi-search"></i>
              <input type="text" id="inputgroup" name="paramentro" pInputText [(ngModel)]="notafiscalfiltro.parametro"
                class="p-inputtext" placeholder="id, nome do produto, código ean 13">
              <label for="inputgroup">Pesquisar</label>

            </span>
          </span>

        </form>

      </div>

      <div class="col-6 md:col-6 lg:col-2 p-fluid">
        <button pButton icon="pi pi-plus" pTooltip="Adicoinar Produto" label="novo" routerLink="/importarnotalfiscal/novo"
          routerLinkActive="active-link" class="p-button-success p-button-lg"></button>
      </div>
    </div>
    <div class="grid">
      <div class="col-12 tabela ">
        <p-table [value]="notasfiscais" responsiveLayout="stack" selectionMode="single" [rowHover]="true"
          [rows]="notafiscalfiltro.itensPorPagina" #tabela dataKey="id"
          styleClass="p-datatable-gridlines p-datatable-sm p-datatable-customer" [lazy]="true"
          (onLazyLoad)="aoMudarPagina($event)" [paginator]="true" [totalRecords]="totalRegistros">
          <ng-template pTemplate="caption">

          </ng-template>
          <ng-template pTemplate="header">
            <tr>

              <th>Código</th>
              <th>NNumero da nota
              </th>
              <th>Data de Entrada</th>
              <th style="text-align: right;"> data de Emissão</th>
              <th style="text-align: right;"> Fornecedor</th>
              <th style="text-align: center;">Nome do arquivo </th>

              <th style="text-align: center;">Opções</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-notafiscal>
            <tr [pSelectableRow]="notafiscal">
              <td>{{notafiscal.id}}</td>
              <td>{{notafiscal.numerodanota}}</td>
              <td> {{notafiscal.data_entrada| date}}</td>
              <td style="text-align: right;">{{notafiscal.data_emissao_nota | date}}</td>
              <td style="text-align: right;">{{notafiscal.fornecedor.nome }}</td>
              <td style="text-align: center;">{{ notafiscal.arquivo_nota }}</td>



              <td>
                <div class="flex flex-wrap align-items-center justify-content-center ">
                  <a>

                    <button pButton pRipple icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                      class="p-button-primary mr-2" type="button"></button>
                  </a>
                  <button pButton pRipple icon="pi pi-trash" type="button" pTooltip="Excluir" tooltipPosition="top"
                      class=" p-button-danger mr2 "></button>
                </div>

              </td>


          </ng-template>

        </p-table>
      </div>
    </div>

  </div>
</div>

