<div class="container">
  <div class="card">

    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <h2> Cadastro Produto</h2>
      </div>
    </div>


    <div class="p-fluid grid">
      <div class="col-12 md:col-6 lg:col-6 fluid">

        <span class="p-float-label">
          <input type="text" id="produtonome" required="true" pInputText  />

          <label for="produtonome">Nome Produto</label>
        </span>
      </div>
      <div class="col-12 md:col-6 lg:col-2 fluid">
        <span class="p-float-label">
          <p-inputNumber inputId="custo"   currency="BRL" mode="currency" locale="pt-Br" [minFractionDigits]="2" ></p-inputNumber>
          <label for="custo"> Preço Custo</label>
      </span>

      </div>

      <div class="col-12 md:col-6 lg:col-2 fluid">
        <span class="p-float-label">
          <p-inputNumber inputId="custo_nedio"   currency="BRL" mode="currency" locale="pt-Br" [minFractionDigits]="2" ></p-inputNumber>
          <label for="custo_medio"> Custo Médio</label>
      </span>

      </div>
      <div class="col-12 md:col-6 lg:col-2 fluid">
        <span class="p-float-label">
          <p-inputNumber inputId="preco_venda"   currency="BRL" mode="currency" locale="pt-Br" [minFractionDigits]="2" ></p-inputNumber>
          <label for="preco_venda"> Preço de Venda </label>
      </span>

      </div>
      <div class="col-12 md:col-6 lg:col-12 fluid">


            <span class="p-float-label">
              <p-autoComplete [(ngModel)]="produto.subcategoria" appendTo="body" [showEmptyMessage]="true" field="nomeSubCategoria"
                [suggestions]="subcategorias" (completeMethod)="carregarSubcategorias($event)" name="nomeSubCategoria" id="campo"
                [required]="true" inputId="autocomplete" [minLength]="1"
                emptyMessage="Registro não ncontrato"></p-autoComplete>
              <label for="subcategorias ">SubCategorias</label>
            </span>


      </div>
      <div class="col-6 md:col-6 lg:col-2 fluid">

        <button pButton pRipple type="button"  icon="pi pi-sign-in"  label="Voltar" routerLink="/produtos" class="p-button-outlined p-button-lg p-button-danger"></button>
      </div>
      <div class="col-6 md:col-6 lg:col-2 fluid">
        <button pButton pRipple type="submit" class="p-button-lg" icon="pi pi-save" label="Salvar"  ></button>


    </div>
  </div>
