<div class="container">
  <div class="card">

      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
          <h2> Consulta Produto</h2>
        </div>
      </div>


      <div class="p-fluid grid">


        <div class="col-7 md:col-6 lg:col-5 p-fluid">
          <form autocomplete="off" (ngSubmit)="buscar()">

            <span class="p-float-label ">
              <span class="p-float-label p-input-icon-right  ">
                <i class="pi pi-search"></i>
                <input type="text" id="inputgroup"  name="paramentro" pInputText [(ngModel)]="produtofiltro.parametro"
                  class="p-inputtext" placeholder="id, nome do produto, código ean 13">
                <label for="inputgroup">Pesquisar</label>

              </span>
            </span>

          </form>

        </div>
        <div class="col-5 md:col-6 lg:col-1 p-fluid">
          <button pButton icon="pi pi-plus" pTooltip="Adicoinar Produto" label="novo" routerLink="/produtos/novo" routerLinkActive="active-link"
            class="p-button-success p-button-lg"></button>
        </div>
      </div>
      <div class="grid">
        <div class="col-12 tabela ">
          <p-table [value]="produtos" responsiveLayout="stack" [breakpoint]="'760px'" selectionMode="single"
            [rowHover]="true" [rows]="produtofiltro.itensPorPagina" #tabela dataKey="id"
            styleClass="p-datatable-gridlines p-datatable-sm p-datatable-customer" [lazy]="true"
            (onLazyLoad)="aoMudarPagina($event)" [paginator]="true" [totalRecords]="totalRegistros">
            <ng-template pTemplate="caption">

            </ng-template>
            <ng-template pTemplate="header">
              <tr>

                <th>Código</th>
                <th>Nome Produto
                </th>
                <th>Código Ean 13</th>
                <th style="text-align: center;"> Preço Custo</th>
                <th style="text-align: center;"> Preço Venda</th>

                <th style="text-align: center;">Quantidade </th>
                <th style="text-align: center;">Opções</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-produto>
              <tr [pSelectableRow]="produto">
                <td>{{produto.id}}</td>
                <td>{{produto.nomeproduto}}</td>
                <td> {{produto.codigoEan13}}</td>
                <td style="text-align: right;">{{produto.precocusto| currency }}</td>
                <td style="text-align: right;">{{produto.precovenda| currency }}</td>
                <td style="text-align: center;"> {{produto.estoque.quantidade}}</td>


                <td>
                  <div
                    class="demo-container flex flex-wrap align-items-center justify-content-center  p-0  m-1 mr-2 pt-3">
                    <a>

                      <button pButton pRipple icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
                        class="p-button-primary mr-2 " type="button"></button>
                    </a>
                    <button pButton pRipple icon="pi pi-trash" type="button" pTooltip="Excluir" tooltipPosition="top"
                      class=" p-button-danger mr2 "></button>
                  </div>

                </td>


            </ng-template>

          </p-table>
        </div>
      </div>

  </div>
</div>
