/* You can add global styles to this file, and also import other style files */

body{
  padding: 1em;

  font-family: Arial, Helvetica, sans-serif;
  color:#404C51 ;
}
.col-acoes > a {
  margin-right: 5px;
}
@media screen and (max-width: 810px) {
  .ui-tabs.ui-tabs-top > .ui-tabs-nav li{
      width: 100% !important;
  }
}
