/* You can add global styles to this file, and also import other style files */

body{
  padding: 1em;
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
  color:#404C51 ;
}
.col-acoes > a {
  margin-right: 5px;
}
@media screen and (max-width: 810px) {
  .ui-tabs.ui-tabs-top > .ui-tabs-nav li{
      width: 100% !important;
  }
}
.container{
  width: 98%;
  margin: auto;

}
