<div class="container">
  <div class="card">

    <div class="grid">
      <div class="col-12 md:col-6 lg:col-3">
        <h2> Cadastro Nota Fiscal</h2>
      </div>
    </div>

    <form #f="ngForm" autocomplete="off" (ngSubmit)="enviarNota(f)">
      <div class="p-fluid grid">
        <div class="col-12 md:col-6 lg:col-4 p-fluid">


          <span class="p-float-label">
            <input type="text" id="arquivo" required="true" name="arquivo_nota" pInputText readonly="true"
              [required]="true" #arquivo_nota="ngModel" [(ngModel)]="notaFiscal.arquivo_nota" />

            <label for="arquivo">Nome Arquivo</label>


          </span>
          <app-message [control]="arquivo_nota" error="required" text="Informe  a Forma de Pagamento"></app-message>
        </div>
        <div class="col-12 md:col-6 lg:col-2 p-fluid">
          <button pButton icon="pi pi-file-import" type="button" class="p-button-info p-button-lg"
            (click)="enviaXmlNota()" label="Selecionar xml Nota"></button>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-fluid">
          <span class="p-float-label">
            <p-dropdown appendTo="body" [filter]="true" [autoDisplayFirst]="false" [showClear]="true" [required]="true"
              #id="ngModel" name="id" [options]="formasdepagamento" [(ngModel)]="formadePagmento.id">

            </p-dropdown>
            <label for="dropdown">Forma de Pagamento</label>
          </span>
          <app-message [control]="id" error="required" text="Informe  a Forma de Pagamento"></app-message>
        </div>
        <div class="col-12 md:col-6 lg:col-2 p-fluid">
          <span class="p-float-label">
            <p-inputNumber mode="decimal" [(ngModel)]="auxiliar.percentual" [minFractionDigits]="3"
              [maxFractionDigits]="3" prefix="%" #percentual="ngModel" [required]="true" name="percentual">
            </p-inputNumber>
            <label htmlFor="number-input">Percentual</label>
          </span>
          <app-message [control]="percentual" error="required" text="Informe  percentual de lucro"></app-message>
        </div>
        <div class="col-12 md:col-6 lg:col-2 p-fluid">
          <span class="p-float-label">

            <p-inputNumber inputId="integeronly" [(ngModel)]="auxiliar.quatidadeparcela" #quatidadeparcela="ngModel"
              [required]="true" name="quatidadeparcela"> </p-inputNumber>
            <label htmlFor="number-input">Quande de Parcela </label>
          </span>
          <app-message [control]="quatidadeparcela" error="required"
            text="Informe  quantidade de parcelas"></app-message>
        </div>
        <div class="col-12 md:col-6 lg:col-2 p-fluid">
          <button pButton icon="pi pi-send" class="p-button-success p-button-lg" type="submit" [disabled]="!f.valid"
            label="importar notal "></button>
        </div>
        <div class="col-12 md:col-6 lg:col-2 p-fluid">

          <button pButton pRipple type="button" icon="pi pi-sign-in" label="Voltar" routerLink="/importarnotalfiscal"
            class="p-button-outlined p-button-lg p-button-danger"></button>
        </div>
        <div class="col-12 md:col-6 lg:col-2 p-fluid">

          <button pButton pRipple type="button" icon="pi pi-plus" label="novo" (click)="novo()"
            class="p-button-outlined p-button-lg "></button>
        </div>
        <div class="col-12 md:col-6 lg:col-4 p-fluid">


          <span class="p-float-label">
            <input type="text" id="arquivo"  name="nome" pInputText readonly="true"
               [(ngModel)]="notaFiscal.fornecedor.nome " [readOnly]="true"/>

            <label for="arquivo">Nome do Fornecedor</label>


          </span>

        </div>
        <div class="col-12 ">
          <p-table [value]="notaFiscal.items_entrada" responsiveLayout="stack" selectionMode="single" [rowHover]="true"
            #tabela dataKey="id" styleClass="p-datatable-gridlines p-datatable-sm p-datatable-customer">
            <ng-template pTemplate="caption">

            </ng-template>
            <ng-template pTemplate="header">
              <tr  >
                <th>Itens  da nota </th>
                <th>Código</th>
                <th>Nome Produto
                </th>
                <th style="text-align: right;">Quantidade </th>
                <th style="text-align: right;"> Preço Venda</th>

                <th style="text-align: right;">Preço Custo </th>
                <th style="text-align: right;"> Subtotal</th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item  key let-rowIndex="rowIndex" >
              <tr [pSelectableRow]="item" >
                <td>{{ rowIndex +1  }} / {{ totalDeItens}}</td>
                <td>{{ item.id }}</td>
                <td>{{ item.produto.nomeproduto }}</td>
                <td style="text-align: right;"> {{item
                  .qtde}}</td>
                <td style="text-align: right;">{{item.produto.precovenda | currency}}</td>

                <td style="text-align: right;">{{ item.produto.precocusto| currency : 'BRL':true:'1.2-3'}}</td>
                <td style="text-align: right;">{{item.subtotal | currency }}</td>
            </ng-template>
            <ng-template pTemplate="summary">
             <div style="text-align: right;">Total da Nota:  {{totalnota| currency}}</div>
          </ng-template>
          </p-table>
        </div>



      </div>
    </form>
  </div>
</div>
