<p>importarnotafiscal works!</p>

<div class="card">
  <div class="flex flex-wrap align-items-center justify-content-center card-container blue-container">
      <div class="transition-colors transition-duration-500 bg-blue-500 hover:bg-yellow-500 text-white hover:text-gray-900
  flex align-items-center justify-content-center font-bold border-round cursor-pointer m-2 px-5 py-3">Hover me</div>
  </div>
</div>

<div class="grid">
  <div class="col-8">
      <div class="grid">
          <div class="col-12 md:col-6 lg:col-8 fluid">
            <span class="p-float-label">
              <input type="text" id="xml" required="true" pInputText name="nomeproduto" />

              <label for="xml">xml</label>
            </span>
          </div>
          <div class="col-6">
              6
          </div>
          <div class="col-12">
              12
          </div>
      </div>
  </div>
  <div class="col-4">
      4
  </div>
</div>
